# Denison CS181/DA210 Homework 2.b - Step 1

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

In [1]:
import pandas as pd

---

## Part A: Column Projection and Row Selection

**Q1:** Convert the following into a data frame and name it `df`: 
```
    [ [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18] ]
```
Then display the data frame.

In [2]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])
# Display the DataFrame
df

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15
5  16  17  18

In [3]:
# Testing cell
assert list(df[0])==[1, 4, 7, 10, 13, 16]
assert list(df[2])==[3, 6, 9, 12, 15, 18]

**Q2:** Update the row and column labels of `df`.  You should assign the columns the following labels: `'A'`, `'B'`, and `'C'`.  Similarly, assign the rows the following labels: `'U'`,`'V'`,`'W'`,`'X'`,`'Y'`, and `'Z'`.

The result should still be `df`.  Then, display the data frame.

Hint: You may find the [pandas.DataFrame.set_axis](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_axis.html) method helpful if you want to avoid creating a new copy of `df`.  Either approach is valid for this small dataset.

In [4]:
df.set_axis(['U', 'V', 'W', 'X', 'Y', 'Z'], axis='index', inplace = True)
df.set_axis(['A', 'B', 'C'], axis='columns', inplace = True)

# Display the DataFrame
df

    A   B   C
U   1   2   3
V   4   5   6
W   7   8   9
X  10  11  12
Y  13  14  15
Z  16  17  18

In [5]:
# Testing cell
assert list(df['A'])==[1, 4, 7, 10, 13, 16]
assert list(df['C'])==[3, 6, 9, 12, 15, 18]
assert list(df.loc['X'])==[10, 11, 12]

**Q3:** Project the first two columns and assign the result to `df2`.

In [6]:
df2 = df[['A', 'B']]

# Display the DataFrame
df2

    A   B
U   1   2
V   4   5
W   7   8
X  10  11
Y  13  14
Z  16  17

In [7]:
# Testing cell
assert df2.shape == (6,2)
assert list(df2['A'])==[1, 4, 7, 10, 13, 16]
assert list(df2['B'])==[2, 5, 8, 11, 14, 17]
assert 'C' not in df2.columns

**Q4**: Compute a column Series, assigned to `total`, that equals the sum of the three columns in `df`.

In [8]:
total = df['A'] + df['B'] + df['C']

# Display the Series
total

U     6
V    15
W    24
X    33
Y    42
Z    51
dtype: int64

In [9]:
# Testing cell
assert isinstance(total, pd.core.series.Series)
assert list(total)[:2] == [6,15]

**Q5**: Compute a column Series, assigned to `isMiddleOdd`, that has value `True` for rows with an odd element in column `B` and `False` for rows with an even element in column `B`.

In [10]:
isMiddleOdd = df['B'] % 2 == 1

# Display the Series
isMiddleOdd

U    False
V     True
W    False
X     True
Y    False
Z     True
Name: B, dtype: bool

In [11]:
# Testing cell
assert isinstance(isMiddleOdd, pd.core.series.Series)
assert list(isMiddleOdd) == [False, True, False, True, False, True]

---

---
## Part B

How much time (in minutes/hours) did you spend on this homework assignment?

30 minutes