# Denison CS181/DA210 Homework 2.f - Step 2

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

In [1]:
import os
import os.path
import pandas as pd

datadir = "publicdata"

---

## Part B: Data normalization

**Q4:** Consider the file `ratings.csv`.  It has columns for first name, last name, `RatingA`, used for rating a particular restaurant (A), and `RatingB`, used for rating a different restaurant (B).

Load this dataset into a `DataFrame` called `ratings_untidy`.

In [2]:
ratings_untidy = pd.read_csv(os.path.join(datadir, 'ratings.csv'))
# Display the DataFrame
ratings_untidy

     First      Last  RatingA  RatingB
0    Hamid     Hirst       73       52
1  Scarlet  Crossley       57       72
2      Wei     Chang       85       69

In [3]:
# Testing cell
assert ratings_untidy.shape == (3,4)
assert ratings_untidy.iloc[0,1] == "Hirst"
assert list(ratings_untidy.iloc[:,2]) == [73, 57, 85]
assert list(ratings_untidy.iloc[:,3]) == [52, 72, 69]

**Q5:** This dataset is not tidy for the following reasons:
* The name of a "rater" should be a single variable (with values of the form "\<first\> \<last\>", like "Wei Chang").
* The particular restaurants are *values* of the data set.

Solve the first of these issues by combining the first two columns (for first and last name) into a single `Rater` column.  Name your resultant `DataFrame` `ratings_untidy2`.

Do not give the new data set a row label index.

In [11]:
ratings_untidy2 = ratings_untidy
ratings_untidy2["Rater"] = ratings_untidy2["First"] + " " + ratings_untidy2["Last"]
ratings_untidy2 = ratings_untidy2.drop(columns = ['First', 'Last'], axis = 1)

# Display the DataFrame
ratings_untidy2

   RatingA  RatingB             Rater
0       73       52       Hamid Hirst
1       57       72  Scarlet Crossley
2       85       69         Wei Chang

In [12]:
# Testing cell
assert ratings_untidy2.shape == (3,3)
assert "First" not in ratings_untidy2
assert "Last" not in ratings_untidy2
assert "RatingA" in ratings_untidy2
assert "RatingB" in ratings_untidy2
assert "Rater" in ratings_untidy2
assert list(ratings_untidy2["Rater"]) == ["Hamid Hirst",
                                          "Scarlet Crossley",
                                          "Wei Chang"]

**Q6:** Finally, fix the second issue to transform `ratings_untidy2` into a tidy data set, naming it `ratings_tidy`.

Note that you should both transform the `RatingA` and `RatingB` columns, but your resulting column representing the restaurant variable, `Restaurant`, should have values `'A'` and `'B'` rather than `'RatingA'` and `'RatingB'`.  Your value column should be named `Rating`.

Once again, do not give the new data set a row label index.

In [19]:
ratings_tidy = pd.melt(ratings_untidy2, id_vars = "Rater", value_vars = ["RatingA", "RatingB"], var_name = "Restaurant", value_name = "Rating")
ratings_tidy.iloc[ratings_tidy.Restaurant == "RatingA", 1] = "A"
ratings_tidy.iloc[ratings_tidy.Restaurant == "RatingB", 1] = "B"

# Display the tidy DataFrame
ratings_tidy

              Rater Restaurant  Rating
0       Hamid Hirst          A      73
1  Scarlet Crossley          A      57
2         Wei Chang          A      85
3       Hamid Hirst          B      52
4  Scarlet Crossley          B      72
5         Wei Chang          B      69

In [20]:
# Testing cell
assert ratings_tidy.shape == (6,3)
assert list(ratings_tidy.columns) == ["Rater", "Restaurant", "Rating"]
assert list(ratings_tidy.loc[ratings_tidy["Restaurant"] == "A", "Rating"]) == [73,57,85]
assert list(ratings_tidy.loc[ratings_tidy["Restaurant"] == "B", "Rating"]) == [52,72,69]

---

---

## Part C

**Q7:** How much time (in minutes/hours) did you spend on this homework assignment?

45 minutes

**Q8:** Who was your partner for this assignment?  If you worked alone, say so instead.

I worked alone