# Denison CS181/DA210 Homework 2.f - Step 1

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

In [1]:
import os
import os.path
import pandas as pd

datadir = "publicdata"

---

## Part A: Transformation operations: transpose and melt

**Q1:** Make the following into a `pandas` data frame.  Assign it to `df`.
```
    {'A': {0: 'a', 1: 'b', 2: 'c'},
     'B': {0:  2,  1:  4,  2:  6},
     'C': {0:  1,  1:  3,  2:  5},
     'D': {0:  1,  1:  2,  2:  4}}
```

In [2]:
df = pd.DataFrame(    {'A': {0: 'a', 1: 'b', 2: 'c'},
     'B': {0:  2,  1:  4,  2:  6},
     'C': {0:  1,  1:  3,  2:  5},
     'D': {0:  1,  1:  2,  2:  4}})

# Display the DataFrame
df

   A  B  C  D
0  a  2  1  1
1  b  4  3  2
2  c  6  5  4

In [3]:
# Testing cell
assert df.shape == (3,4)
assert list(df.columns) == ["A", "B", "C", "D"]
assert list(df.index) == list(range(3))

**Q2:** Perform a transpose operation on `df`, storing the result in `df_transpose`.

In [7]:
df_transpose = df.transpose()

# Display the transposed DataFrame
df_transpose

   0  1  2
A  a  b  c
B  2  4  6
C  1  3  5
D  1  2  4

In [8]:
# Testing cell
assert df_transpose.shape == (4,3)
assert list(df_transpose.index) == ["A", "B", "C", "D"]
assert list(df_transpose.columns) == list(range(3))

In [9]:
# Display the original DataFrame again
df

   A  B  C  D
0  a  2  1  1
1  b  4  3  2
2  c  6  5  4

**Q3:** Suppose that we have determined that columns `B` and `D` are really _values_ of a _variable_ called `X`.  (This is similar to when columns represented values of the variable `Year` for `topnames`.)

We can make this dataset tidy using a `melt` operation.  Perform this operation and assign the result to `df_melted`.  The values of these columns should be placed in a new column named `Y`.

In [12]:
df_melted = pd.melt(df, id_vars = ['A', 'C'], value_vars = ['B', 'D'], var_name = 'X', value_name = 'Y')

# Display the DataFrame
df_melted

   A  C  X  Y
0  a  1  B  2
1  b  3  B  4
2  c  5  B  6
3  a  1  D  1
4  b  3  D  2
5  c  5  D  4

In [14]:
# Testing cell
assert df_melted.shape == (6,4)
assert "B" not in df_melted
assert "D" not in df_melted
assert "X" in df_melted
assert "Y" in df_melted
assert list(df_melted.loc[df_melted["X"] == "B", "A"]) == ['a','b','c']
assert list(df_melted.loc[df_melted["X"] == "B", "Y"]) == [2,4,6]
assert list(df_melted.loc[df_melted["X"] == "D", "Y"]) == [1,2,4]