# Denison CS181/DA210 Homework 4.d - Step 1

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

#### Import Python modules and load "SQL Magic"

In [ ]:
import pandas as pd
import os
import os.path
import json
import sys
import importlib

module_dir = "../../modules"
module_path = os.path.abspath(module_dir)
if not module_path in sys.path:
    sys.path.append(module_path)

%load_ext sql

In [ ]:
def getsqlite_creds(dirname=".",filename="creds.json",source="sqlite"):
    """ Using directory and filename parameters, open a credentials file
        and obtain the two parts needed for a connection string to
        a local provider using the "sqlite" dictionary within
        an outer dictionary.  
        
        Return a scheme and a dbfile
    """
    assert os.path.isfile(os.path.join(dirname, filename))
    with open(os.path.join(dirname, filename)) as f:
        D = json.load(f)
    sqlite = D[source]
    return sqlite["scheme"], sqlite["dbdir"], sqlite["database"]

In [ ]:
scheme, dbdir, database = getsqlite_creds(source="sqlite2")
template = '{}:///{}/{}.db'
cstring = template.format(scheme, dbdir, database)
print("Connection string:", cstring)

#### Establish Connection from Client to Server

In [ ]:
%sql $cstring

---

## Part A: Advanced Partitioning and Grouping

**Q1:** In reference to the `school` database, list, for each course, the number of class sections being taught in the spring.  Call your new column `num_sections`.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf1 = resultset.DataFrame()
resultdf1.head()

In [ ]:
# Testing cell
assert resultdf1.shape == (513, 3)
assert resultdf1.loc[0,"num_sections"] == 1
assert resultdf1.loc[4,"num_sections"] == 3

**Q2:** For each class meeting time, find the total number of students who took a class during that meeting time.  Do not include classes without a meeting time.

Call your new column `count`, and order your results by `count` (from most popular to least popular).

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf2 = resultset.DataFrame()
resultdf2.head()

In [ ]:
# Testing cell
assert len(resultdf2) == 135
assert resultdf2.loc[0,"count"] == 1549
assert resultdf2.loc[132,"count"] == 4

**Q3:** Using the `school` database, list, for each student id the total number of credits they took during the year.  Select the `studentid` column and a new column `total_credits`.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf3 = resultset.DataFrame()
resultdf3.head()

In [ ]:
# Testing cell
assert len(resultdf3) == 2274
assert list(resultdf3.loc[:4,"total_credits"]) == [5.0, 3.0, 4.0, 0.0, 4.0]

---

## Part B: Subqueries

**Q4:** In reference to the `school` database, what is the average credit-hour load of the students, including directed studies?  Your answer should be a 1x1 table.

_Hint_: Use your query from Q3 as a subquery.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf4 = resultset.DataFrame()
resultdf4.head()

In [ ]:
# Testing cell
assert resultdf4.shape == (1,1)
assert resultdf4.iloc[0,0] > 30
assert resultdf4.iloc[0,0] < 31

**Q5:** Using the `school` database, write a SQL query to find out, for each class, how many different majors are represented among the students who took the class.  Do not count `NULL` as a major.  Order your results by `classid`, and include columns `classid`, `coursesubject`, `coursenum`, `classsection`, and a new column `num_majors`.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf5 = resultset.DataFrame()
print(len(resultdf5))
resultdf5.head()

In [ ]:
# Testing cell
assert len(resultdf5) == 1796
assert list(resultdf5.columns) == ['classid', 'coursesubject', 'coursenum', 'classsection', 'num_majors']
assert resultdf5.iloc[0,4] == 6
assert resultdf5.iloc[1,4] == 24

#### Switch to the `book` database

In [ ]:
scheme, dbdir, database = getsqlite_creds(source="sqlite1")
template = '{}:///{}/{}.db'
cstring = template.format(scheme, dbdir, database)
print("Connection string:", cstring)

%sql $cstring

**Q6:** Using the `book` database, which country codes appear in `indicators` but not in `countries`?

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf6 = resultset.DataFrame()
print(len(resultdf6))
resultdf6.head()

In [ ]:
# Testing cell
assert len(resultdf6) == 1
assert resultdf6.iloc[0,0] == "INX"

**Q7:** For every country in `indicators`, find the year in which the population hit its minimum value.  Select the country `code`, alias your new column as `min_year`, and also select the minimum population, aliased as `min_pop`.  You can have more than one row per country, if there is a tie.

_Hint:_ You should first find the `min_pop` for each country, then find all rows where `pop = min_pop`.  However, be careful that you do not match the `min_pop` of one country with the `pop` of another.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf7 = resultset.DataFrame()
print(len(resultdf7))
resultdf7.head()

In [ ]:
# Testing cell
assert resultdf7.shape == (618, 3)
assert list(resultdf7.iloc[0,:]) == ["ABW", 1960, 0.05]
assert list(resultdf7.iloc[617,:]) == ["TUV", 2018, 0.01]

**Q8:** For every country in `indicators`, find the _most recent_ year in which the population hit its minimum value.  Alias your new column as `min_year`, and also select the country code.

_Hint:_ Use your previous query as a subquery (so you'll have nested subqueries) and group by country code.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf8 = resultset.DataFrame()
print(len(resultdf8))
resultdf8.head()

In [ ]:
# Testing cell
assert resultdf8.shape == (217, 3)
assert list(resultdf8.iloc[0,:]) == ["ABW", 1960, 0.05]
assert list(resultdf8.iloc[207,:]) == ["VGB", 1986, 0.01]

---

---

## Part C

**Q9:** How much time (in minutes/hours) did you spend on this homework assignment?

YOUR ANSWER HERE

**Q10:** Who was your partner for this assignment?  If you worked alone, say so instead.

YOUR ANSWER HERE