# Denison CS181/DA210 Homework 4.f - Step 1

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

## Part A: Designing Relationships Between Tables

These exercises will continue the design process from the previous homework.  Again, you should think about the data you plan to use in your final project.  You are not committed to the design you develop for the homework, but the goal here is to walk you through the steps of sound database design, to help you along the way with your project.

Note that these kinds of questions rarely have a single right answer, so keep an open mind and try to think carefully about what you are trying to design.

**Q1:** First, reflect on the previous homework.  What, if anything, changed from the initial table/field design you started thinking about to what you were planning by the end of the homework?

Nothing, except I just feel that there is not much I can solve by using SQL specifically because all of my team's tables have one-to-one relation (so maybe using pandas instead of SQL database would make things easier, but we will still use SQL of course)

**Q2:** Think about the entities in your dataset, and how they might relate to each other.  For example, if your dataset were focused on a sports league, you may ask yourself:
- Can a player belong to more than one team?
- Can a team have more than one captain?
- Does a contest between two teams consist of more than one game?

Such questions may cause you to add tables that correspond to entities that you did not originally forsee.  List any new tables you need to add, as well as their fields, based on the table and field design steps (review the previous homework if you've forgotten them).

N/A. All of our tables have a one-to-one relation to country name, and the dependent variables are distinct/independent from each other

**Q3:** Think about the entities in your dataset, and how they might relate to each other.  Write down the relationships bewteen any of your entity tables, listing each as one of the following:
 - one-to-one
 - many-to-one
 - many-to-many

All 3 tables have a one-to-one relation with country name as the primary/foreign key

**Q4:** Add any needed linking fields to allow for many-to-one relationships, and add a linkin table with an appropriate name for any many-to-many relationships.  List these new fields/tables below.

N/A

**Q5:** What foreign-key constraints do you need?

REFERENCE country (in other tables)

---

## Part B: Table Creation

**Q6:** Provide the SQL CREATE TABLE statements for three tables in your dataset, at least two of which have a relationship between them.

In [ ]:
query1 = """CREATE TABLE economics(
country VARCHAR(30) NOT NULL UNIQUE
GDP int NULL
GDPpercap int NULL
GINI float NULL
PRIMARY KEY (country))
"""
query2 = """CREATE TABLE social(
country VARCHAR(30) NOT NULL UNIQUE
press float NULL
gender float NULL
PRIMARY KEY (country))
"""
query3 = """CREATE TABLE health(
country VARCHAR(30) NOT NULL UNIQUE
healthexp int NULL
BMI float NULL
height float NULL
PRIMARY KEY (country))
"""
# YOUR CODE HERE
raise NotImplementedError()

---

## Part C: Table Population

**Q7:** Provide hard-coded SQL statements to insert one record into each of the three tables from the previous question.

In [ ]:
query1 = """
"""
query2 = """
"""
query3 = """
"""
# YOUR CODE HERE
raise NotImplementedError()

---

---

## Part D

**Q8:** How much time (in minutes/hours) did you spend on this homework assignment?

YOUR ANSWER HERE

**Q9:** Who was your partner for this assignment?  If you worked alone, say so instead.

YOUR ANSWER HERE