# Denison CS181/DA210 Homework 2.e - Step 1

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

In [1]:
import os
import os.path
import pandas as pd

datadir = "publicdata"

---

## Part A: Concatenating along the row dimension

**Q1:** In the data directory, you will find two csv files, `educationTop.csv` and `educationBottom.csv`, both based on data hosted by `www.census.gov`.  Both have the same columns, and each row is a U.S. metropolitan area, with data on population, education, and unemployment.  The first `csv` file contains metropolitan areas starting with A-K, and the second starting with L-Z.

Read both into `pandas` data frames `education_top` and `education_bottom`, using the column `GEO.id2` as an index.

Be careful, as these files have **two** lines that might be considered header lines.  The first one is more descriptive, and the second one is more concise and gives succint variable names.  So when we read from the csv, we want to **skip** the first line and then use the second line as the header line.  The `pandas` `read_csv` constructor can do this for you, but you have to discover and use the correct arguments.  (Documentation: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

In [4]:
education_top = pd.read_csv(os.path.join(datadir, "educationTop.csv"), index_col = "GEO.id2", header = 1)
education_bottom = pd.read_csv(os.path.join(datadir, "educationBottom.csv"), index_col = "GEO.id2", header = 1)

In [5]:
# Display a sample of the "top" DataFrame
education_top.head(2)

,GEO.id,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,...,HD01_VD25,HD02_VD25,HD01_VD26,HD02_VD26,HD01_VD27,HD02_VD27,HD01_VD28,HD02_VD28,HD01_VD29,HD02_VD29
GEO.id2,,,,,,,,,,,,,,,,,,,,,
10180,310M100US10180,"Abilene, TX Metro Area",82270,1582,13820,1873,6484,1272,0,206,...,579,347,12909,1564,12770,1557,139,137,3633,826
10420,310M100US10420,"Akron, OH Metro Area",369311,1080,26613,2972,14519,2048,0,182,...,43,70,97693,4241,94492,4200,3201,888,13895,1627

In [6]:
# Display a sample of the "bottom" DataFrame
education_bottom.head(2)

,GEO.id,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,...,HD01_VD25,HD02_VD25,HD01_VD26,HD02_VD26,HD01_VD27,HD02_VD27,HD01_VD28,HD02_VD28,HD01_VD29,HD02_VD29
GEO.id2,,,,,,,,,,,,,,,,,,,,,
29100,310M100US29100,"La Crosse, WI-MN Metro Area",67151,664,2114,654,1202,471,0,184,...,0,184,17955,1585,17592,1565,363,286,2453,659
29140,310M100US29140,"Lafayette, IN Metro Area",94481,1352,8844,1537,5463,1334,0,184,...,19,31,27825,2372,26749,2256,1076,523,4217,948

In [7]:
# Testing Cell
assert education_top.shape == (176, 60)
assert education_bottom.shape == (190, 60)
assert education_top.index.name == "GEO.id2"
assert education_bottom.index.name == "GEO.id2"
assert "HD01_VD01" in education_top
assert "HD01_VD01" in education_bottom
assert education_top.iloc[8,2] == 129504
assert education_bottom.iloc[8,4] == 39259

**Q2:** Concatenate these two data frames along the row dimension (with the top one on top), and call the result `educationDF`.

In [13]:
educationDF = pd.concat([education_top, education_bottom])

# Display a sample of the DataFrame
educationDF.head(4)

,GEO.id,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,...,HD01_VD25,HD02_VD25,HD01_VD26,HD02_VD26,HD01_VD27,HD02_VD27,HD01_VD28,HD02_VD28,HD01_VD29,HD02_VD29
GEO.id2,,,,,,,,,,,,,,,,,,,,,
10180,310M100US10180,"Abilene, TX Metro Area",82270,1582,13820,1873,6484,1272,0,206,...,579,347,12909,1564,12770,1557,139,137,3633,826
10420,310M100US10420,"Akron, OH Metro Area",369311,1080,26613,2972,14519,2048,0,182,...,43,70,97693,4241,94492,4200,3201,888,13895,1627
10500,310M100US10500,"Albany, GA Metro Area",78159,1072,13689,2238,7681,1645,0,208,...,247,249,12051,1611,11493,1472,558,507,2599,678
10580,310M100US10580,"Albany-Schenectady-Troy, NY Metro Area",466236,1818,29031,3211,16906,2415,0,185,...,572,510,146172,5083,142431,5036,3741,887,22891,1945

In [14]:
# Testing Cell
assert educationDF.shape == (366, 60)
assert educationDF.index.name == "GEO.id2"
assert "HD01_VD01" in educationDF
assert educationDF.iloc[8,2] == 129504
assert educationDF.iloc[184,4] == 39259

---

## Part B: Concatenating along the column dimension

**Q3:** In the data directory, you will find two csv files, `educationLeft.csv` and `educationRight.csv`, both based on data hosted by `www.census.gov`.  Both have the same rows, and each row is a U.S. metropolitan area, with data on population, education, and unemployment.  The first has information on individuals without a college degree, and the second has information on individuals with a college degree.

Read both into `pandas` data frames `education_left` and `education_right`.  The `GEO.display-label` field should serve as the row index.

The same cautions on the CSV having an informational row of headers followed by the header variable names applies to these two CSV files as well.

In [15]:
education_left = pd.read_csv(os.path.join(datadir, "educationLeft.csv"), index_col = "GEO.display-label", header = 1)
education_right = pd.read_csv(os.path.join(datadir, "educationRight.csv"), index_col = "GEO.display-label", header = 1)

In [16]:
# Display a sample of the left DataFrame
education_left.head(2)

,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,...,HD01_VD11,HD02_VD11,HD01_VD12,HD02_VD12,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15
GEO.display-label,,,,,,,,,,,,,,,,,,,,,
"Abilene, TX Metro Area",82270,1582,13820,1873,6484,1272,0,206,6484,1272,...,242,230,16089,2007,15268,2047,821,437,8729,1335
"Akron, OH Metro Area",369311,1080,26613,2972,14519,2048,0,182,14519,2048,...,0,182,91228,4194,82462,4125,8766,1850,28828,3019

In [17]:
# Display a sample of the right DataFrame
education_right.head(2)

,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,HD01_VD18,HD02_VD18,HD01_VD19,HD02_VD19,HD01_VD20,HD02_VD20,...,HD01_VD25,HD02_VD25,HD01_VD26,HD02_VD26,HD01_VD27,HD02_VD27,HD01_VD28,HD02_VD28,HD01_VD29,HD02_VD29
GEO.display-label,,,,,,,,,,,,,,,,,,,,,
"Abilene, TX Metro Area",26269,2060,20430,2075,705,307,19725,1978,18421,1902,...,579,347,12909,1564,12770,1557,139,137,3633,826
"Akron, OH Metro Area",111011,4257,86994,3887,123,119,86871,3903,79172,3642,...,43,70,97693,4241,94492,4200,3201,888,13895,1627

In [18]:
# Testing Cell
assert education_left.shape == (366, 30)
assert education_right.shape == (366, 28)
assert education_left.index.name == "GEO.display-label"
assert education_right.index.name == "GEO.display-label"
assert "HD01_VD01" in education_left
assert "HD01_VD01" not in education_right
assert "Abilene, TX Metro Area" in education_left.index
assert "Abilene, TX Metro Area" in education_right.index
assert education_left.iloc[10,3] == 2265
assert education_right.iloc[10,2] == 63125

**Q4:** Concatenate these two data frames along the column dimension, and call the result `educationDF2`.

In [21]:
educationDF2 = education_left.join(education_right, how = "outer")

# Display a sample of the DataFrame
educationDF2.head(4)

,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,...,HD01_VD25,HD02_VD25,HD01_VD26,HD02_VD26,HD01_VD27,HD02_VD27,HD01_VD28,HD02_VD28,HD01_VD29,HD02_VD29
GEO.display-label,,,,,,,,,,,,,,,,,,,,,
"Abilene, TX Metro Area",82270,1582,13820,1873,6484,1272,0,206,6484,1272,...,579,347,12909,1564,12770,1557,139,137,3633,826
"Akron, OH Metro Area",369311,1080,26613,2972,14519,2048,0,182,14519,2048,...,43,70,97693,4241,94492,4200,3201,888,13895,1627
"Albany, GA Metro Area",78159,1072,13689,2238,7681,1645,0,208,7681,1645,...,247,249,12051,1611,11493,1472,558,507,2599,678
"Albany-Schenectady-Troy, NY Metro Area",466236,1818,29031,3211,16906,2415,0,185,16906,2415,...,572,510,146172,5083,142431,5036,3741,887,22891,1945

In [22]:
# Testing Cell
assert educationDF2.shape == (366, 58)
assert educationDF2.index.name == "GEO.display-label"
assert "HD01_VD01" in educationDF2
assert educationDF2.iloc[10,3] == 2265
assert educationDF2.iloc[10,32] == 63125

---

## Part C: Joining/merging data frames

**Q5:** In the data directory, you will find two csv files, `educationLeftJ.csv` and `educationRightJ.csv`, both based on data hosted by `www.census.gov`.  In both, rows represent U.S. metropolitan area, with data on population, education, and unemployment.  However, they do not have exactly the same set of rows, and the columns are totally different except for the index column `Geography`.

In these CSV files, there is not an "extra" header line.  The row label index should come from `Geography` unless you are instructed otherwise.

Read both into `pandas` data frames, with names `education_left_j` and `education_right_j`.

In [23]:
education_left_j = pd.read_csv(os.path.join(datadir, "educationLeftJ.csv"), index_col = "Geography")
education_right_j = pd.read_csv(os.path.join(datadir, "educationRightJ.csv"), index_col = "Geography")

In [24]:
# Display a sample of the left_j DataFrame
education_left_j.head(2)

,Estimate; Less than high school graduate: - In labor force:,Estimate; Less than high school graduate: - In labor force: - In Armed Forces,Estimate; Less than high school graduate: - In labor force: - Civilian:,Estimate; Less than high school graduate: - In labor force: - Civilian: - Employed,Estimate; Less than high school graduate: - In labor force: - Civilian: - Unemployed,Estimate; Less than high school graduate: - Not in labor force,Estimate; High school graduate: - In labor force:,Estimate; High school graduate: - In labor force: - In Armed Forces,Estimate; High school graduate: - In labor force: - Civilian:,Estimate; High school graduate: - In labor force: - Civilian: - Employed,Estimate; High school graduate: - In labor force: - Civilian: - Unemployed,Estimate; High school graduate: - Not in labor force
Geography,,,,,,,,,,,,
"Abilene, TX Metro Area",6484,0,6484,5347,1137,7336,16331,242,16089,15268,821,8729
"Akron, OH Metro Area",14519,0,14519,11338,3181,12094,91228,0,91228,82462,8766,28828

In [25]:
# Display a sample of the right_j DataFrame
education_right_j.head(2)

,Estimate; Some college or associate's degree: - In labor force:,Estimate; Some college or associate's degree: - In labor force: - In Armed Forces,Estimate; Some college or associate's degree: - In labor force: - Civilian:,Estimate; Some college or associate's degree: - In labor force: - Civilian: - Employed,Estimate; Some college or associate's degree: - In labor force: - Civilian: - Unemployed,Estimate; Some college or associate's degree: - Not in labor force,Estimate; Bachelor's degree or higher: - In labor force:,Estimate; Bachelor's degree or higher: - In labor force: - In Armed Forces,Estimate; Bachelor's degree or higher: - In labor force: - Civilian:,Estimate; Bachelor's degree or higher: - In labor force: - Civilian: - Employed,Estimate; Bachelor's degree or higher: - In labor force: - Civilian: - Unemployed,Estimate; Bachelor's degree or higher: - Not in labor force
Geography,,,,,,,,,,,,
"Abilene, TX Metro Area",20430,705,19725,18421,1304,5839,13488,579,12909,12770,139,3633
"Akron, OH Metro Area",86994,123,86871,79172,7699,24017,97736,43,97693,94492,3201,13895

In [26]:
# Testing Cell
assert education_left_j.shape == (249, 12)
assert education_right_j.shape == (215, 12)
assert education_left_j.index.name == "Geography"
assert education_right_j.index.name == "Geography"
assert "Estimate; Less than high school graduate: - In labor force: - Civilian: - Unemployed" in education_left_j
assert "Estimate; Less than high school graduate: - In labor force: - Civilian: - Unemployed" not in education_right_j
assert "Estimate; Bachelor's degree or higher: - In labor force:" not in education_left_j
assert "Estimate; Bachelor's degree or higher: - In labor force:" in education_right_j
assert "Battle Creek, MI Metro Area" in education_left_j.index
assert "Battle Creek, MI Metro Area" not in education_right_j.index
assert "Bridgeport-Stamford-Norwalk, CT Metro Area" not in education_left_j.index
assert "Bridgeport-Stamford-Norwalk, CT Metro Area" in education_right_j.index
assert education_left_j.iloc[5,6] == 38994
assert education_right_j.iloc[9,2] == 59784

**Q6:** Make a copy of `education_left_j` called `education_left_orig`.  Starting with `education_left_j`, do a left join to bring in the data from `education_right_j`, storing your answer as `df_j`.

In [28]:
education_left_orig = education_left_j
df_j1 = education_left_j.join(education_right_j, how = "left")

# Display a sample of the joined DataFrame
df_j1.head(2)

,Estimate; Less than high school graduate: - In labor force:,Estimate; Less than high school graduate: - In labor force: - In Armed Forces,Estimate; Less than high school graduate: - In labor force: - Civilian:,Estimate; Less than high school graduate: - In labor force: - Civilian: - Employed,Estimate; Less than high school graduate: - In labor force: - Civilian: - Unemployed,Estimate; Less than high school graduate: - Not in labor force,Estimate; High school graduate: - In labor force:,Estimate; High school graduate: - In labor force: - In Armed Forces,Estimate; High school graduate: - In labor force: - Civilian:,Estimate; High school graduate: - In labor force: - Civilian: - Employed,...,Estimate; Some college or associate's degree: - In labor force: - Civilian:,Estimate; Some college or associate's degree: - In labor force: - Civilian: - Employed,Estimate; Some college or associate's degree: - In labor force: - Civilian: - Unemployed,Estimate; Some college or associate's degree: - Not in labor force,Estimate; Bachelor's degree or higher: - In labor force:,Estimate; Bachelor's degree or higher: - In labor force: - In Armed Forces,Estimate; Bachelor's degree or higher: - In labor force: - Civilian:,Estimate; Bachelor's degree or higher: - In labor force: - Civilian: - Employed,Estimate; Bachelor's degree or higher: - In labor force: - Civilian: - Unemployed,Estimate; Bachelor's degree or higher: - Not in labor force
Geography,,,,,,,,,,,,,,,,,,,,,
"Abilene, TX Metro Area",6484,0,6484,5347,1137,7336,16331,242,16089,15268,...,19725.0,18421.0,1304.0,5839.0,13488.0,579.0,12909.0,12770.0,139.0,3633.0
"Akron, OH Metro Area",14519,0,14519,11338,3181,12094,91228,0,91228,82462,...,86871.0,79172.0,7699.0,24017.0,97736.0,43.0,97693.0,94492.0,3201.0,13895.0

In [29]:
# Testing Cell
assert education_left_orig.shape == (249, 12)

assert df_j1.shape == (249, 24)
assert df_j1.index.name == "Geography"
assert "Estimate; Less than high school graduate: - In labor force: - Civilian: - Unemployed" in df_j1
assert "Estimate; Bachelor's degree or higher: - In labor force:" in df_j1
assert "Battle Creek, MI Metro Area" in df_j1.index
assert "Bridgeport-Stamford-Norwalk, CT Metro Area" not in df_j1.index
assert df_j1.iloc[5,6] == 38994
assert df_j1.iloc[5,14] == 59784

**Q7:** Starting with `education_left_orig`, do an inner join to bring in the data from `education_right_j`, storing your answer as `df_j2`.

In [31]:
df_j2 = education_left_orig.join(education_right_j, how = "inner")

# Display a sample of the joined DataFrame
df_j2.head(2)

,Estimate; Less than high school graduate: - In labor force:,Estimate; Less than high school graduate: - In labor force: - In Armed Forces,Estimate; Less than high school graduate: - In labor force: - Civilian:,Estimate; Less than high school graduate: - In labor force: - Civilian: - Employed,Estimate; Less than high school graduate: - In labor force: - Civilian: - Unemployed,Estimate; Less than high school graduate: - Not in labor force,Estimate; High school graduate: - In labor force:,Estimate; High school graduate: - In labor force: - In Armed Forces,Estimate; High school graduate: - In labor force: - Civilian:,Estimate; High school graduate: - In labor force: - Civilian: - Employed,...,Estimate; Some college or associate's degree: - In labor force: - Civilian:,Estimate; Some college or associate's degree: - In labor force: - Civilian: - Employed,Estimate; Some college or associate's degree: - In labor force: - Civilian: - Unemployed,Estimate; Some college or associate's degree: - Not in labor force,Estimate; Bachelor's degree or higher: - In labor force:,Estimate; Bachelor's degree or higher: - In labor force: - In Armed Forces,Estimate; Bachelor's degree or higher: - In labor force: - Civilian:,Estimate; Bachelor's degree or higher: - In labor force: - Civilian: - Employed,Estimate; Bachelor's degree or higher: - In labor force: - Civilian: - Unemployed,Estimate; Bachelor's degree or higher: - Not in labor force
Geography,,,,,,,,,,,,,,,,,,,,,
"Abilene, TX Metro Area",6484,0,6484,5347,1137,7336,16331,242,16089,15268,...,19725,18421,1304,5839,13488,579,12909,12770,139,3633
"Akron, OH Metro Area",14519,0,14519,11338,3181,12094,91228,0,91228,82462,...,86871,79172,7699,24017,97736,43,97693,94492,3201,13895

In [32]:
# Testing Cell
assert df_j2.shape == (152, 24)
assert df_j2.index.name == "Geography"
assert "Estimate; Less than high school graduate: - In labor force: - Civilian: - Unemployed" in df_j2
assert "Estimate; Bachelor's degree or higher: - In labor force:" in df_j2
assert "Battle Creek, MI Metro Area" not in df_j2.index
assert "Bridgeport-Stamford-Norwalk, CT Metro Area" not in df_j2.index
assert "Asheville, NC Metro Area" in df_j2.index
assert df_j2.iloc[5,6] == 38994
assert df_j2.iloc[5,14] == 59784

**Q8:** We can "merge" two data frames if they do not have a meaningful index, but do share a column name.  You can use this syntax:

```
    merged_df = pd.merge(df1, df2, on=<colname>, how=<merge_type>)
```

where `<colname>` is the name of the column they share (typically a string), and `<merge_type>` is a string like `"left"`, `"inner"`, etc.  We didn't get to this in class, but you can see examples in Section 8.3.3.2 of the book.

Now read the original csv files in as `edu_left` and `edu_right` with no meaningful index. Then, starting from `edu_left`, do an inner merge along the column `Geography`, storing your answer as `df_j3`.

In [33]:
edu_left = pd.read_csv(os.path.join(datadir, "educationLeftJ.csv"))
edu_right = pd.read_csv(os.path.join(datadir, "educationRightJ.csv"))
df_j3 = pd.merge(edu_left, edu_right, on = "Geography")

# Display a sample of the merged DataFrame
df_j3.head(2)

,Geography,Estimate; Less than high school graduate: - In labor force:,Estimate; Less than high school graduate: - In labor force: - In Armed Forces,Estimate; Less than high school graduate: - In labor force: - Civilian:,Estimate; Less than high school graduate: - In labor force: - Civilian: - Employed,Estimate; Less than high school graduate: - In labor force: - Civilian: - Unemployed,Estimate; Less than high school graduate: - Not in labor force,Estimate; High school graduate: - In labor force:,Estimate; High school graduate: - In labor force: - In Armed Forces,Estimate; High school graduate: - In labor force: - Civilian:,...,Estimate; Some college or associate's degree: - In labor force: - Civilian:,Estimate; Some college or associate's degree: - In labor force: - Civilian: - Employed,Estimate; Some college or associate's degree: - In labor force: - Civilian: - Unemployed,Estimate; Some college or associate's degree: - Not in labor force,Estimate; Bachelor's degree or higher: - In labor force:,Estimate; Bachelor's degree or higher: - In labor force: - In Armed Forces,Estimate; Bachelor's degree or higher: - In labor force: - Civilian:,Estimate; Bachelor's degree or higher: - In labor force: - Civilian: - Employed,Estimate; Bachelor's degree or higher: - In labor force: - Civilian: - Unemployed,Estimate; Bachelor's degree or higher: - Not in labor force
0,"Abilene, TX Metro Area",6484,0,6484,5347,1137,7336,16331,242,16089,...,19725,18421,1304,5839,13488,579,12909,12770,139,3633
1,"Akron, OH Metro Area",14519,0,14519,11338,3181,12094,91228,0,91228,...,86871,79172,7699,24017,97736,43,97693,94492,3201,13895

In [34]:
# Testing Cell
assert df_j3.shape == (152, 25)
assert df_j3.index.name == None
assert "Estimate; Less than high school graduate: - In labor force: - Civilian: - Unemployed" in df_j3
assert "Estimate; Bachelor's degree or higher: - In labor force:" in df_j3
assert "Battle Creek, MI Metro Area" not in list(df_j3.Geography)
assert "Bridgeport-Stamford-Norwalk, CT Metro Area" not in list(df_j3.Geography)
assert "Asheville, NC Metro Area" in list(df_j3.Geography)
assert df_j3.iloc[5,7] == 38994
assert df_j3.iloc[5,15] == 59784

**Q9:** Explain the difference in the number of rows and columns in `df_j1`, `df_j2`, and `df_j3`.  Be specific.

df_j3 has one more column than df_j2 and df_j1 because df_j3 doesn't have index column "Geography" which isn't counted in the dataframe
df_j1 and df_j2 have the same number of rows and columns but they are joined differently (df1 joined by left and df2 joined by inner)

---

---

## Part D

**Q10:** How much time (in minutes/hours) did you spend on this homework assignment?

45 minutes

**Q11:** Who was your partner for this assignment?  If you worked alone, say so instead.

I worked alone