# Denison CS181/DA210 Homework 4.c - Step 1

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

#### Import Python modules and load "SQL Magic"

In [ ]:
import pandas as pd
import os
import os.path
import json
import sys
import importlib

module_dir = "../../modules"
module_path = os.path.abspath(module_dir)
if not module_path in sys.path:
    sys.path.append(module_path)

%load_ext sql

In [ ]:
def getsqlite_creds(dirname=".",filename="creds.json",source="sqlite"):
    """ Using directory and filename parameters, open a credentials file
        and obtain the two parts needed for a connection string to
        a local provider using the "sqlite" dictionary within
        an outer dictionary.  
        
        Return a scheme and a dbfile
    """
    assert os.path.isfile(os.path.join(dirname, filename))
    with open(os.path.join(dirname, filename)) as f:
        D = json.load(f)
    sqlite = D[source]
    return sqlite["scheme"], sqlite["dbdir"], sqlite["database"]

In [ ]:
scheme, dbdir, database = getsqlite_creds(source="sqlite")
template = '{}:///{}/{}.db'
cstring = template.format(scheme, dbdir, database)
print("Connection string:", cstring)

#### Establish Connection from Client to Server

In [ ]:
%sql $cstring

---

## Part A: Familiarizing Yourself with the Database

For this homework, you'll be working with the `school` database.  The schema is shown below.

In [ ]:
from IPython.display import Image
Image("figs/school_schema.jpg", width=600, height=600)

**Q1:** In reference to the `school` database, how many departments are there? Your query should result in a 1 x 1 table with just one number in it.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf1 = resultset.DataFrame()
resultdf1.head()

In [ ]:
# Testing cell
assert resultdf1.iloc[0,0] == 36

**Q2:** In reference to the `school` database, how many departments appear to address multiple distinct areas of study?

_Hint:_ this question is asking about the field `departmentname`, but your answer should be general enough that it would work even if some departments changed name (e.g., "Cinema and Culture") or if new departments were added (e.g., "Agriculture/Culinary studies").

In [ ]:
# Hint: look for 'and', &, /
 
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf2 = resultset.DataFrame()
resultdf2.head()

In [ ]:
# Testing cell
assert resultdf2.iloc[0,0] == 9

**Q3:** In reference to the `school` database, how many classes have at least three sections? Your query should result in a 1 x 1 table.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf3 = resultset.DataFrame()
resultdf3.head()

In [ ]:
# Testing cell
assert resultdf3.iloc[0,0] == 160

**Q4:** In reference to the `school` database, how many students are from each state?  Order your results by state (alphabetically) and alias your new column as `count`.  You should omit NULL entries.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf4 = resultset.DataFrame()
resultdf4.head()

In [ ]:
# Testing cell
assert resultdf4.loc[0,"count"] == 1
assert resultdf4.loc[24,"count"] == 25
assert resultdf4.loc[37,"count"] == 531

---

## Part B: Multi-Table Inner Joins

Recall from class that we can join two tables together using the following change to our _table-spec_:

_table-spec_ |= _table_ | (subquery) AS newName | _join-table_

where an inner join is specified using:

_join-table_ |= _table-spec_ [AS alias1] INNER JOIN _table-spec_ [AS alias2] ON _match-cond_

or:

_join-table_ |= _table-spec_ [AS alias1] INNER JOIN _table-spec_ [AS alias2] USING (_common-fields_)

For example, we could find the meeting times of each spring-semester class of any course worth 2 credits (sorted by the course subject and then number):

In [ ]:
query = """
SELECT co.coursesubject, co.coursenum, co.coursehours, cl.classmeeting
FROM classes as cl INNER JOIN courses as co
    ON cl.coursesubject = co.coursesubject AND
       cl.coursenum = co.coursenum
WHERE cl.classterm = 'SPRING' AND co.coursehours >= 2 AND
      cl.classmeeting IS NOT NULL
ORDER BY co.coursesubject, cl.coursenum
"""

resultset = %sql $query
resultset.DataFrame()


**Q5:** Using the SQL database `school`, select departments (by name) and instructors in each department (first and last name).  Order alphabetically by department name and then instructor last name.  Only include departments that have instructors and instructors that are part of departments.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset = %sql $query
resultdf5 = resultset.DataFrame()
print(len(resultdf5))
resultdf5.head()

In [ ]:
# Testing cell
assert len(resultdf5) == 293 or len(resultdf5) == 277
assert list(resultdf5.columns) == ['departmentname', 'instructorfirst', 'instructorlast']

---

---

## Part C

**Q6:** How much time (in minutes/hours) did you spend on this homework assignment?

YOUR ANSWER HERE

**Q7:** Who was your partner for this assignment?  If you worked alone, say so instead.

YOUR ANSWER HERE