# Denison CS181/DA210 Homework 4.a - Step 1

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

#### Import Python modules and load "SQL Magic"

In [ ]:
import pandas as pd
import os
import os.path
import json
import sys
import importlib

module_dir = "../../modules"
module_path = os.path.abspath(module_dir)
if not module_path in sys.path:
    sys.path.append(module_path)

%load_ext sql

In [ ]:
def getsqlite_creds(dirname=".",filename="creds.json"):
    """ Using directory and filename parameters, open a credentials file
        and obtain the two parts needed for a connection string to
        a local provider using the "sqlite" dictionary within
        an outer dictionary.  
        
        Return a scheme and a dbfile
    """
    assert os.path.isfile(os.path.join(dirname, filename))
    with open(os.path.join(dirname, filename)) as f:
        D = json.load(f)
    sqlite = D["sqlite1"]
    return sqlite["scheme"], sqlite["dbdir"], sqlite["database"]

In [ ]:
scheme, dbdir, database = getsqlite_creds()
template = '{}:///{}/{}.db'
cstring = template.format(scheme, dbdir, database)
print("Connection string:", cstring)

#### Establish Connection from Client to Server

In [ ]:
%sql $cstring

---

## Part A: SQL Single-Table Selection and Row Filtering

In the following cells, your only action is to remove the `# YOUR CODE HERE` and `raise NotImplementedError()` lines, and then put a valid SQL statement as the **value** of string variable `query`.

In each case, when you execute the cell, the query will be sent to the database management system, a result obtained, and the result converted into a `pandas` data frame, whose prefix is shown.  (This allows for testing the results as well as displaying them in your Jupyter Notebook.)

_Note: you may want to view the `book` database in SQLiteStudio to get an idea of what the field names are as you work through these exercises._

**Q1:** Using the table `indicators`, write a query to find all unique years that appear in the table.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset1 = %sql $query
resultdf1 = resultset1.DataFrame()
resultdf1.head()

In [ ]:
# Testing cell
assert len(resultdf1) == 59

**Q2:** Using the table `indicators`, write a query to find all rows (you can select all fields for these rows) with no missing data for `gdp`.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset2 = %sql $query
resultdf2 = resultset2.DataFrame()
resultdf2.head()

In [ ]:
# Testing cell
assert len(resultdf2) == 9660

**Q3:** Using the table `indicators`, write a query to find all rows with no missing data for any of the numeric fields.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset3 = %sql $query
resultdf3 = resultset3.DataFrame()
resultdf3.head()

In [ ]:
# Testing cell
assert len(resultdf3) == 6958

**Q4:** Using the table `indicators`, write a query to find all rows where exports is higher than imports. Select all fields for such rows.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset4 = %sql $query
resultdf4 = resultset4.DataFrame()
resultdf4.head()

In [ ]:
# Testing cell
assert len(resultdf4) == 2492
assert resultdf4.shape == (2492,8)

**Q5:** Using the table `indicators`, write a query to find the minimum non-zero number for `cell` that appears.  Although you could use `MIN`, you should try to do this using `ORDER BY` instead, so that the first row in your result has that minimum value.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset5 = %sql $query
resultdf5 = resultset5.DataFrame()
resultdf5.head()

In [ ]:
# Testing cell
assert resultdf5.loc[0,'cell'] == 0.01

**Q6:** Use a subquery to select the top ten entries in `indicators` with the highest population, then select the three from that group of ten that have the lowest GDP.  If you need to, review section 11.2.3 on subqueries.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()

resultset6 = %sql $query
resultdf6 = resultset6.DataFrame()
resultdf6.head()

In [ ]:
# Testing cell
assert len(resultdf6) == 3
assert resultdf6.loc[0,'gdp'] == 2652.55
assert resultdf6.loc[1,'pop'] == 1352.62

---

---

## Part B

**Q7:** How much time (in minutes/hours) did you spend on this homework assignment?

YOUR ANSWER HERE

**Q8:** Who was your partner for this assignment?  If you worked alone, say so instead.

YOUR ANSWER HERE