# Denison CS181/DA210 Homework 2.c - Step 1

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

In [1]:
import pandas as pd

---

## Part A: Row Selection

**Q1:** Convert the following dictionary (a DoL representation) to a data frame called `testdf`.

```
    { 'Name'  : ['Ross', 'Rachel', 'Chandler'], 
      'Test1' : [82, 85, 95], 
      'Test2' : [89, 85, 90], 
      'Test3' : [93, 85, 87] }
```

In [2]:
testdf = pd.DataFrame({'Name'  : ['Ross', 'Rachel', 'Chandler'], 
      'Test1' : [82, 85, 95], 
      'Test2' : [89, 85, 90], 
      'Test3' : [93, 85, 87] })

# Display the DataFrame
testdf

       Name  Test1  Test2  Test3
0      Ross     82     89     93
1    Rachel     85     85     85
2  Chandler     95     90     87

In [3]:
# Testing cell
assert testdf.shape == (3,4)

**Q2:** Assign to variable `test1` the column vector (a `Series`) associated with the scores of **Test1**.

In [4]:
df = testdf
test1 = df["Test1"]

# Display the Series
test1

0    82
1    85
2    95
Name: Test1, dtype: int64

In [5]:
# Testing cell
assert df.shape == (3,4)
assert isinstance(test1, pd.core.series.Series)
assert list(test1) == [82, 85, 95]

**Q3:** Assign to a variable `ross_rachel_df` the two-row `DataFrame` of Ross and Rachel's test scores.  You should select these rows using the numerical index.

In [6]:
ross_rachel_df = df.iloc[[0,1]]

# Display the DataFrame
ross_rachel_df

     Name  Test1  Test2  Test3
0    Ross     82     89     93
1  Rachel     85     85     85

In [7]:
# Testing cell
assert ross_rachel_df.shape == (2,4)
assert isinstance(ross_rachel_df, pd.core.frame.DataFrame)
assert list(ross_rachel_df.Test1) == [82,85]
assert list(ross_rachel_df.Test2) == [89,85]
assert list(ross_rachel_df.Test3) == [93,85]

**Q4:** Assign to variable `rachel_df` the one-row `DataFrame` of Rachel's test scores.  You should filter using the `'Name'` column.

In [8]:
rachel_df = ross_rachel_df[ross_rachel_df.Name == "Rachel"]

# Display the DataFrame
rachel_df

     Name  Test1  Test2  Test3
1  Rachel     85     85     85

In [9]:
# Testing cell
assert rachel_df.shape == (1,4)
assert isinstance(rachel_df, pd.core.frame.DataFrame)

**Q5:** Assign to variable `chandler_test3` the scalar integer of Chandler's third test score.

In [10]:
chandler_test3 = df.loc[df.Name == "Chandler", "Test3"]

# Display the value
chandler_test3

2    87
Name: Test3, dtype: int64

In [11]:
# Testing cell
assert chandler_test3.item() == 87

**Q6**: Compute a column Series, assigned to `final`, that equals the average of the three test scores.

In [12]:
final = (df["Test1"] + df["Test2"] + df["Test3"])/3

# Display the Series
final

0    88.000000
1    85.000000
2    90.666667
dtype: float64

In [13]:
# Testing cell
assert isinstance(final, pd.core.series.Series)
assert list(final)[:2] == [88.0, 85.0]

---

## Part B: Combining Projection and Selection

**Q7** Use the following data to create a DataFrame named `df`:
```
    data = {'animal':   ['cat','cat','snake','dog',
                         'dog','cat','snake','cat','dog','dog'],
            'age':      [2.5, 3, 0.5, 7, 5, 2, 4.5, 4, 7, 3],
            'visits':   [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'priority': ['yes','yes','no','yes','no', 
                         'no','no','yes','no', 'no']}
```

Using as index:
```
    labels = ['a', 'b', 'c', 'd', 'e', 
              'f', 'g', 'h', 'i', 'j']
```

Then, carry out a selection of rows `d` through `g`, inclusive, using row labels (`Index` elements), not positions.  Assign the result to `df2`.

In [14]:
df = pd.DataFrame(data = {'animal':   ['cat','cat','snake','dog',
                         'dog','cat','snake','cat','dog','dog'],
            'age':      [2.5, 3, 0.5, 7, 5, 2, 4.5, 4, 7, 3],
            'visits':   [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'priority': ['yes','yes','no','yes','no', 
                         'no','no','yes','no', 'no']}, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
df2 = df.iloc[3:7, :]
# Display the DataFrame
df2

  animal  age  visits priority
d    dog  7.0       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no

In [15]:
# Testing cell
assert df.shape == (10,4)
assert df2.shape == (4,4)
assert 'd' in df2.index
assert 'g' in df2.index

**Q8:** In a single assignment statement, select the data in rows of `df` labeled `c`, `d`, and `e` and project the columns `'animal'` and `'age'`, assigning to `df3`.

In [16]:
df3 = df.loc["c":"e", "animal":"age"]

# Display the DataFrame
df3

  animal  age
c  snake  0.5
d    dog  7.0
e    dog  5.0

In [17]:
# Testing cell
assert df3.shape == (3, 2)
assert 'c' in df3.index
assert 'e' in df3.index
assert 'animal' in df3.columns
assert 'age' in df3.columns

**Q9:** Create a column vector `ageVisit` (a `Series`) which, for each row in `df`, is the age of the animal divided by the number of visits for the animal.

In [18]:
ageVisit = df["age"] / df["visits"]

# Display the Series
ageVisit

a    2.500000
b    1.000000
c    0.250000
d    2.333333
e    2.500000
f    0.666667
g    4.500000
h    4.000000
i    3.500000
j    3.000000
dtype: float64

In [19]:
# Testing cell
assert isinstance(ageVisit, pd.core.series.Series)

assert len(ageVisit) == df.shape[0]
assert list(ageVisit[:3]) == [2.5, 1.0, 0.25]

**Q10:** Create a `DataFrame` `df4` with only the rows of `df` in which the `age` is greater than 3.

In [20]:
df4 = df.loc[df.age > 3, :]

# Display the DataFrame
df4

  animal  age  visits priority
d    dog  7.0       3      yes
e    dog  5.0       2       no
g  snake  4.5       1       no
h    cat  4.0       1      yes
i    dog  7.0       2       no

In [21]:
# Testing cell
assert isinstance(df4, pd.core.frame.DataFrame)

assert df4.shape == (5, 4)
assert list(df4.visits) == [3, 2, 1, 1, 2]

assert list(df4.index) == ['d', 'e', 'g', 'h', 'i']

**Q11:** From the original data frame, project the animal and visits columns from those rows where `priority` is `yes`.  Assign the result to `df5`.

In [22]:
df5 = df.loc[df.priority == "yes", :][["animal","visits"]]

# Display the DataFrame
df5

  animal  visits
a    cat       1
b    cat       3
d    dog       3
h    cat       1

In [23]:
# Testing cell
assert df5.shape == (4, 2)
assert "animal" in df5
assert "visits" in df5
assert "priority" not in df5

assert list(df5.index) == ['a', 'b', 'd', 'h']

---

---
## Part C

How much time (in minutes/hours) did you spend on this homework assignment?

1.5 hours